default_config:

logger:
  default: info
  logs:
    custom_components.sbahn_munich: debug

sensor:
  - platform: mvglive
    nextdeparture:
     -  station: Pasing Bf.
        number: 10
        products:
          - S-Bahn

  - platform: sbahn_munich
    apikey: <enter-api-key-here>
    limit: 3
    stations:
      - München-Pasing